<header class="header-bar">
  <div class="header-content">
    <button class="home-button" (click)="navigateToHomeScreen()">Home</button>
    <button class="gallery-button" (click)="navigateToPhotoGallery()">Gallery</button>
    <button class="about-button" (click)="navigateToAboutUs()">About Us</button>
    <img src="./assets/IMG_20230413_173935_664.jpg" class="header-logo">
  </div>
</header>
<section class="container">
  <router-outlet></router-outlet>
</section>
<div class="mt-auto">
  <app-footer></app-footer>
</div>
