:host {
  display: block;
  width: 100%;
}

.header-bar {
  background-color: black;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Space between the home button and the logo */
  align-items: center; /* Center the content vertically */
  position: relative;
}

.home-button, .gallery-button, .about-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-button {
  left: 100px; /* Position the gallery button 100px to the right of the home button */
}

.about-button {
  left: 200px; /* Position the about button to the right of the gallery button */
}

.header-logo {
  height: 80px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the logo */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.home-button:hover, .gallery-button:hover, .about-button:hover {
  color: #f00000; /* Change to the desired color on hover */
}
