<nav class="navbar navbar-dark bg-black">
  <div class="row">
    <div class="navbar-brand col-sm-auto">
      <img src="./assets/IMG_20230413_173935_664.jpg" width="80" height="80" alt="">
    </div>
    <div class="col-sm-auto">
      <button type="button" class="awesome-button btn btn-danger btn-primary btn-lg"
              (click)="navigateToHomeScreen()">Home
      </button>
    </div>
    <div class="col-sm-auto">
      <button type="button" class="awesome-button btn btn-danger btn-primary btn-lg"
              (click)="navigateToAboutUsScreen()">About Us
      </button>
    </div>
    <div class="col-sm-auto">
      <button type="button" class="awesome-button btn btn-danger btn-primary btn-lg"
              (click)="navigateToLatestScoreScreen()">Latest Score
      </button>
    </div>
  </div>
</nav>
<section class="container">
  <router-outlet></router-outlet>
</section>
<div class="mt-auto">
  <app-footer></app-footer>
</div>
