.about-us-intro {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.snazzy-paragraph {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(45deg, lightcoral, red);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.snazzy-paragraph:hover {
  transform: scale(1.05);
}
