<div class="blog-container">
  <h1 class="blog-title">The Origins of the Manchester United Supporters Club in Pittsburgh, Morningside</h1>
  <p class="blog-content">
    The Manchester United Supporters Club in <strong>Pittsburgh</strong>, Morningside, was born out of a shared passion for football and a love for one of the most iconic clubs in the world. In the midst of Covid-19 and getting back to a slight sense of normality, a small group of Manchester United fans in Pittsburgh began gathering at <strong>The Bulldog Pub</strong> to watch matches.
  </p>
  <p class="blog-content">
    In 2022, Sean the current president of our supporters club took the initiative to establish the <strong>Manchester United</strong> Supporters Club of Pittsburgh by 2023. The club quickly gained recognition from Manchester United itself, becoming an official Supporters Club.
  </p>
  <p class="blog-content">
    Today, the Manchester United Supporters Club in Morningside is a vibrant and diverse community of fans from all around the world supporting this legendary club.
  </p>

  <div class="gathering-info">
    <h2 class="gathering-title">Where We Gather for Games</h2>
    <p class="gathering-content">
      The Bulldog Pub
    </p>

    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.9313137878026!2d-79.92811718459395!3d40.48810027935748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f1f3b6a9d399%3A0x51d18aeaa2f544a0!2sBulldog%20Pub!5e0!3m2!1sen!2sus!4v1692805782936!5m2!1sen!2sus"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        aria-label="Bulldog Pub Location"
      ></iframe>
    </div>

    <div class="members-section">
      <h2 class="members-title">The Members</h2>
      <p class="members-content">
        You can look out for any one of us at the Bulldog Pub during Manchester United games, one of our own Jesse (far left) will be behind the bar most likely 😉
      </p>

      <!-- Member Picture -->
      <div class="member-picture">
        <img src="assets/members.jpg" alt="Manchester United Supporters Club Members" class="member-image">
      </div>
    </div>
  </div>
</div>
