<div class="content-container">
  <div class="image-container">
    <img style="max-width:100%" src="./assets/mufcpgh_fans.jpg" alt="Manchester United Supporters in Pittsburgh">
  </div>
  <div class="link-tree-container">
    <app-link-tree></app-link-tree>
  </div>
  <br>
  <div class="media-container">
    <div class="twitter-container">
      <a class="twitter-timeline" data-lang="en" data-theme="dark" data-height="490px" href="https://twitter.com/CommunityReds1?ref_src=twsrc%5Etfw">Tweets by CommunityReds1</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/QVpjFbKCp94?si=yPutwqlCHyOZP0mJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
