<div class="container">
  <div class="row">
    <img style="max-width:100%" src="./assets/mufcpgh_fans.jpg" alt="">
  </div>
  <div class="row">
    <app-link-tree></app-link-tree>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <a class="twitter-timeline" data-lang="en" data-width="450" data-height="500" data-theme="dark" href="https://twitter.com/CommunityReds1?ref_src=twsrc%5Etfw">Tweets by CommunityReds1</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6 video-container">
      <iframe height="490" width="700" src="https://www.youtube.com/embed/QVpjFbKCp94?si=yPutwqlCHyOZP0mJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>
